/* h1{
    color:maroon;

}
.post
{
   background-color: antiquewhite;
   color:blue
}
.user
{
    font-style: italic;
} */
 body {
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 12px;
}

.navbar {
    letter-spacing: 0.5px;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-size: 15px;
    color: #555;
}